.drag-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 240px;
    gap: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.setting-bar {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

::deep .theme-toggle > .dropdown > .dropdown-toggle {
    /*noinspection CssUnresolvedCustomProperty*/
    border: var(--bs-border-width) solid var(--bs-border-color);
    /*noinspection CssUnresolvedCustomProperty*/
    border-radius: var(--bs-border-radius);
}

::deep .theme-toggle > .dropdown > .dropdown-menu li button {
    /*noinspection CssUnresolvedCustomProperty*/
    border-radius: var(--bs-border-radius);
}

::deep .dropdown-menu {
    padding: 6px;
    border-radius: 8px;
}

::deep .dropdown-item {
    /*noinspection CssUnresolvedCustomProperty*/
    border-radius: var(--bs-border-radius);
}
