<div class="nav-side">
    @foreach (var nav in NavItems)
    {
        <NavLink href="@nav.Value.NavRoute">
            <div class="@nav.Value.NavClass" @onclick="() => { SelectNav(nav.Key); }">
                @nav.Value.NavName
            </div>
        </NavLink>
    }

</div>

@code {

    public class NavItem
    {
        public NavItem(string navName, string navRoute, bool selected = false)
        {
            NavRoute = navRoute;
            NavName = navName;
            Selected = selected;
        }

        public string NavName { get; set; }
        public string NavRoute { get; set; }

        public bool Selected
        {
            set => NavClass = value ? "nav-item-selected" : "nav-item";
        }

        public string NavClass { get; private set; } = "nav-item";
    }

    private Dictionary<int, NavItem> NavItems { get; set; } = new()
    {
        {1, new NavItem("W S 客户端", "ws-client", true)},
        {2, new NavItem("TCP 客户端", "tcp-client")},
        {3, new NavItem("TCP 服务器", "tcp-server")},
        {4, new NavItem("UDP 客户端", "udp-client")},
    };

    private int _selectedNavId = 1;

    private void SelectNav(int navId)
    {
        NavItems[_selectedNavId].Selected = false;
        NavItems[navId].Selected = true;
        _selectedNavId = navId;
        StateHasChanged();
    }

}