<div class="workspace-area">
    <div class="message-area">
        @MessageBoxArea
    </div>
    <div class="sender-area">
        @SenderBoxArea
    </div>
    <div class="right-area">
        @ToolBoxArea
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment? SenderBoxArea { get; set; }

    [Parameter]
    public RenderFragment? MessageBoxArea { get; set; }

    [Parameter]
    public RenderFragment? ToolBoxArea { get; set; }

}