.tcp-client-main {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 4px;
    height: 100%;
}

.tcp-client-left {
    display: flex;
    flex-direction: column;
}

.tcp-client-left-top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: 8px;
}

.tcp-client-left-bottom {
    padding: 8px;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: 8px;
}

.tcp-client-right-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.config-list {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 8px;
    align-items: center;
}

.config-list > div:nth-child(odd) {
    font-weight: 500;
    color: var(--bs-secondary);
}
