.ws-server-main {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr;
    gap: 4px;
    height: 100%;
}

.ws-server-left {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ws-server-left-top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    height: 100%;
}

.ws-server-left-bottom {
    padding: 8px;
    height: 100%;
}

.ws-server-right-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.config-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.config-list > div:nth-of-type(odd) {
    font-weight: 600;
    color: var(--bs-body-color);
    margin-bottom: 4px;
}
