.ws-server-main {
    /*left and right*/
    display: grid;
    grid-template-columns: 1fr 16rem;
    position: relative;
    height: 100%;
}

/*left side*/
.ws-server-left {
    grid-column: 1;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
}

.ws-server-left-top {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 8px;
    height: 100%;
}

.ws-server-left-bottom {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 8px;
    align-items: stretch;
}

/*right side*/
.ws-server-right-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 4px;
}
