.config-input{
    margin: 0 4px;
    width: calc(100% - 8px);
}
.config-title{
    -webkit-user-select: none;
    user-select: none;
    padding: 0 8px;
    color: var(--text-main);
}
.tool-section{
    flex-grow: 1;
    padding: 2px;
    margin: 40px 4px 8px 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}