@page "/tcp-server"
@using Socketor.DataModel
@inject TauriApi.Tauri Tauri

<PageTitle>TCP Server</PageTitle>

<WorkspaceLayout>
    <MessageBoxArea>
        <MessageBox @ref="_messageBox"/>
    </MessageBoxArea>
    <SenderBoxArea>
        <SenderBox OnMessageSend="SendMessage"/>
    </SenderBoxArea>
    <ToolBoxArea>
        <GroupBox Title="工具设置">
            <div class="tool-section">
                <div class="config-title">TCP Server 地址</div>
                <input class="config-input" placeholder="TCP Server Address"
                       @bind="ServerAddress"/>
                <button @onclick="StartServer">启动</button>
            </div>
        </GroupBox>

    </ToolBoxArea>
</WorkspaceLayout>

@code {
    private string ServerAddress { get; set; } = "localhost:5200";
    private MessageBox? _messageBox;

    private void SendMessage(string message)
    {
        _messageBox?.AddItem(message, OwnerType.Send);
    }

    private async Task StartServer()
    {
        var result = await Tauri.Invoke<bool>("start_tcp_server", new {host = "localhost:7780"});
        _messageBox?.AddItem($"{result}", OwnerType.Log);
    }
}