@page "/ws-client"
@using System.Net.WebSockets
@using System.Text
@using Socketor.DataModel

<PageTitle>Web Socket Client</PageTitle>

<WorkspaceLayout>
    <MessageBoxArea>
        <MessageBox @ref="_messageBox"/>
    </MessageBoxArea>
    <SenderBoxArea>
        <SenderBox OnMessageSend="SendMessage"/>
    </SenderBoxArea>
    <ToolBoxArea>
        <GroupBox Title="工具设置">
            <div class="tool-section">
                <div class="config-title">Web Socket 地址</div>
                <input class="config-input" placeholder="WS Address"
                       @bind="WebSocketAddress"/>
                <button @onclick="Connect">@_connectButtonText</button>
            </div>
        </GroupBox>

    </ToolBoxArea>
</WorkspaceLayout>

@code
{

    private MessageBox? _messageBox;

    private void SendMessage(string message)
    {
        _messageBox?.AddItem(message, OwnerType.Send);
        if (!_connected)
        {
            _messageBox?.AddItem("未连接到服务器", OwnerType.Log);
            return;
        }
        Memory<byte> buffer = Encoding.UTF8.GetBytes(message);
    //TODO:解决await
        _webSocket.SendAsync(buffer, WebSocketMessageType.Text,
            true, default);
    }

    private string _connectButtonText = "连接";
    //切换连接或断开
    private async Task ChangeConnection()
    {
        if (_connected)
        {
            await Disconnect();
        }
        else
        {
            await Connect();
        }
    }

    private string WebSocketAddress { get; set; } = "ws://localhost:4649/Chat";
    private ClientWebSocket _webSocket = new();
    private bool _connected = false;
    //建立连接
    private async Task Connect()
    {
        var url = new Uri(WebSocketAddress);
        _webSocket = new ClientWebSocket();
    //TODO:连接失败
        await _webSocket.ConnectAsync(url, default);
        OnOpen();
        _connected = true;
        _connectButtonText = "断开连接";
        await ReceiveMessages();
    }

    //断开连接
    private async Task Disconnect()
    {
        await _webSocket.CloseAsync(WebSocketCloseStatus.NormalClosure,
            "Client Disconnect", CancellationToken.None);
        _webSocket.Abort();
        _connected = false;
        _connectButtonText = "连接";
    }

    private void OnOpen()
    {
    }

    private void OnClose()
    {
    }

    private void OnMessage(string message)
    {
        _messageBox?.AddItem(message, OwnerType.Receive);
    }


    //后台接收消息
    private async Task ReceiveMessages()
    {
        var messageByteBuffer = new List<byte>();
        while (_connected)
        {
            var memory = new Memory<byte>(new byte[1024]);
            var socketResult = await _webSocket.ReceiveAsync(memory, default);
            var bt = memory.ToArray().Take(socketResult.Count);
            messageByteBuffer.AddRange(bt);
            if (!socketResult.EndOfMessage) continue;

            if (socketResult.MessageType == WebSocketMessageType.Close)
            {
                OnClose();
                _connected = false;
            }
            else
            {
                var messageStr = Encoding.UTF8.GetString(messageByteBuffer.ToArray());
                OnMessage(messageStr);
                messageByteBuffer.Clear();
            }
        }
    }


    private void ShowState()
    {
    //ShowMessage(_webSocket.State.ToString());
    }


}