@inject IJSRuntime JsRuntime

<BootstrapBlazorRoot>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <p role="alert">Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
</BootstrapBlazorRoot>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var loadServiceModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Utilities/LoadService.js");
            await loadServiceModule.InvokeVoidAsync("RemoveLoadingIndicator");
        }
    }
}