.horizontal-split {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--ax-split);
}

.horizontal-split-zone {
    width: 100%;
    height: 9px;
    margin-top: -4px;
    margin-bottom: -4px;
    cursor: row-resize;
    position: relative;
    z-index: 100;
}
