@using Socketor.DataModel
@inject IJSRuntime Js

<div class="message-scroll-section">
    @foreach (var item in MessageItems)
    {
        <MessageBoxItem Content="@item.Content" Time="@item.Time" OwnerType="@item.OwnerType"/>
    }
    <div @ref="_messageEnd" style="height: 2px"></div>
</div>

@code {
    private ElementReference _messageEnd;

    private LinkedList<MessageItemDto> MessageItems { get; set; } = [];

    public void AddItem(string message, OwnerType ownerType)
    {
        var messageItem = new MessageItemDto(message, ownerType);
        AddItem(messageItem);
    }

    public void AddItem(MessageItemDto messageItem)
    {
        //超过50条消息时，移除两条
        if (MessageItems.Count > 50)
        {
            MessageItems.RemoveFirst();
            MessageItems.RemoveFirst();
        }

        //添加新消息
        MessageItems.AddLast(messageItem);
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //移动到底部
        await Js.InvokeVoidAsync("socketorUtilities.scrollToTarget", _messageEnd);
        await base.OnAfterRenderAsync(firstRender);
    }

}