.message-scroll-section {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 12px 10px 16px;
    height: 100%;
}

/*滚动条样式*/
.message-scroll-section::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.message-scroll-section::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(128, 128, 128, 0.5);
}

.message-scroll-section::-webkit-scrollbar-track {
    margin: 4px;
    background: transparent;
}
