.message-scroll-section {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 52px 12px 10px 16px;
    box-sizing: border-box;
    height: 100%;
    margin-left: 0;
    width: calc(100% - 4px);

    display: flex;
    flex-direction: column;
}

/*滚动条样式*/
.message-scroll-section::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

.message-scroll-section::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(128, 128, 128, 0.5);
}

.message-scroll-section::-webkit-scrollbar-track {
    margin: 4px;
    background: transparent;
}
