/*条目整体*/
.message-item {
    display: flex;
    margin: 4px 0;
    align-content: stretch;
}

.message-main {
    border-radius: 4px;
    background-color: #e6e6e8;

    padding: 4px 8px 2px 8px;

    -webkit-user-select: none;
    user-select: none;
    cursor: default;

    flex: 1;
}

.message-time {
    font-size: 14px;
    margin-bottom: 2px;

    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.message-content {
    font-size: 16px;
    white-space: pre-wrap;
    margin-bottom: 0;

    -webkit-user-select: auto;
    user-select: auto;
    cursor: text;

}

.time-Send {
    color: #149119;
}

.time-Receive {
    color: #2978de
}

.time-Log {
    color: #da7a2b
}

.mark-Send, .mark-Receive {
    width: 8px;
    border-radius: 4px;
    /*box-shadow: 2px 2px 4px var(--shader-shadow);*/
    /*border: 1px solid;*/
}

.mark-Send {
    margin-left: 4px;
    background-color: #149119;
    border-color: #25b72a;
}

.mark-Receive {
    margin-right: 4px;
    background-color: #2978de;
    border-color: #4191ec;
}

@media (prefers-color-scheme: dark) {
    .message-main {
        background-color: #343435;
    }

}