@using Socketor.DataModel
<div class="message-item">
    @if (OwnerType == OwnerType.Receive)
    {
        <div class="mark-Receive"></div>
    }
    <div class="message-main">
        <div class="message-time time-@OwnerType">@Time</div>
        <pre class="message-content">@Content</pre>
    </div>
    @if (OwnerType == OwnerType.Send)
    {
        <div class="mark-Send"></div>
    }
</div>


@code {

    [Parameter]
    public string Content { get; set; } = "";

    [Parameter]
    public DateTime Time { get; set; }

    [Parameter]
    public OwnerType OwnerType { get; set; }

}