<div class="ax-fill sender-box-main">
    <div class="sender-config ax-section">
        <label><input type="checkbox" @bind="_keepContent"/>发送后保留文本</label>
        <label><input type="checkbox" @bind="_continuously"/>连续发送</label>
        <label>间隔<input @bind="_interval" type="number" class="line-input" style="width: 60px"/>秒</label>
    </div>
    <div class="sender-box">
        <textarea @bind="Content" class="sender-input" placeholder="输入文本消息..."></textarea>
        <button @onclick="SendMessage" class="sender-button">发送</button>
    </div>
</div>

@code {

    [Parameter]
    public Action<string>? OnMessageSend { get; set; }

    private string Content { get; set; } = "";
    bool _keepContent;
    bool _continuously;
    int _interval = 10;

    private void SendMessage()
    {
    //不发送空消息
        if (string.IsNullOrEmpty(Content))
        {
            return;
        }
        OnMessageSend?.Invoke(Content);
    //清除消息框
        if (!_keepContent)
        {
            Content = "";
        }
    }

}